[[extend 'layout.html']]

<div class="section">
   <h1 class="title">Birds</h1>
   <table class="table">
      <thead>
      [[for h in headers:]]
      <th>[[=h]]</th>
      [[pass]]
      </thead>
      <tbody>
      [[for row in data:]]
         <tr>
            [[for h in headers:]]
            <td>[[=row[h] ]]</td>
            [[pass]]
         </tr>
      [[pass]]
      </tbody>
   </table>
</div>
